.untyped-lambda--top-bar-custom--button {
  padding: 5px 8px;
  text-align: center;
  cursor: pointer;
  float: left;
  border-radius: 6px;
  color: var(--muted);
}

.untyped-lambda--top-bar-custom--button:hover {
  background-color: var(--raised);
  color: var(--text);
}

.untyped-lambda--top-bar-custom--button.menu-pressed-open {
  background-color: var(--raised);
  color: var(--text);
}
