.prompt {
  width: 100%;
  font-size: 3em;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  border-style: none;
}

.editorContainer {
  position: fixed;
  bottom: 1px;
  width: 93vw;
  left: 6vw;
  border: 1px solid gray;
  border-radius: 5px;

  border-left: 5px solid cornflowerblue;
  border-radius: .25rem;
}

.box .editorContainer {
  /* background-color: gray; */
  position: relative;

  /* bottom: 1px; */
  width: 99%;
  left: 0;
  border: 1px solid gray;
  border-radius: 5px;

  /* border-top: 5px solid cornflowerblue; */
  border-radius: .25rem;
  margin-top: 35px;
}

.box .prompt {
  background-color: rgb(243, 243, 243);
  font-size: 1.5em;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  border-style: none;
}

.box .editorError {
  font-size: 0.5em;
  margin: 5px;
}

.editor {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#editorSplitDropBtn {
  vertical-align: baseline;
  font-size: 2em;
  /* color: grey; */
  /* cursor: pointer; */
  display: inline-block;
  /* padding: 12px; */
}

#editorEnter:hover {
  color: #1976d2;
}

#editorEnter:active {
  color: #164b80;
}
