.boxContainer.untypedLambdaBox.active {
  border-left: 5px solid var(--accent);
}

.boxContainer.untypedLambdaBox.inactive {
  border-left: 3px solid var(--border);
}

.boxContainer.untypedLambdaBox.inactive:hover {
  border-left-color: var(--muted);
}

.untyped-lambda--debug-ctrl {
  float: left;
}

.untyped-lambda--pick-strategy {
  margin-left: 20px;
}

.untyped-lambda-settings--strategy-radio-wrapper {
  font-size: 0.9em;
}
