.boxContainer.untypedLambdaBox.active,
.boxContainer.untypedLambdaBox.inactive,
.boxContainer.untypedLambdaBox.inactive:hover {
  border-left: none;
}

.untyped-lambda--debug-ctrl {
  float: left;
}

.untyped-lambda--pick-strategy {
  margin-left: 20px;
}

.untyped-lambda-settings--strategy-radio-wrapper {
  font-size: 0.9em;
}
