.untyped-lambda-box--macrolist {
  padding: 5px;

  border-bottom: 2px solid gray;
}

.builtinMacros, .userMacros {
  /* flex: 50%; */
}

.macroSpace {
  /* display: inline-flex; */
}

.macro-definition {
  /* display: inline; */
  padding: 10px;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* padding-left: 20px; */
  /* background-color: #c2e9ff; */
  /* border-radius: 0.2rem; */
  border-bottom: 1px solid gray;
}

.macro-name {
  color: blue;
  padding-right: 5px;
  /* background-color:  */
}

.dark .macro-name {
  color: rgb(150, 150, 255);
  padding-right: 5px;
  font-weight: 700;
  /* background-color:  */
}


.dense-LI {
  /* margin-bottom: 2px; */
  margin: 10px;
  display: inline-block;
  margin-bottom: 15px;

}


.boxMacro {
  /* border-left: 5px solid rgb(11, 92, 184); */
}

.builtinMacros .boxMacro {
  /* border-left: 5px solid darkgoldenrod; */
  /* padding-top: 3px; */
  /* padding-bottom: 3px; */
}

.userMacros .boxMacro {
  /* border-left: 5px solid rgb(11, 92, 184);
  padding-top: 3px;
  padding-bottom: 3px; */
}