.markdown-write {
  margin-right: 15px;
}

.markdown-write, .markdown-preview {
  padding: 5px;
  cursor: pointer;
  margin: auto;
}

.markdown-selected {
  background-color: var(--accent);
  border-radius: 6px;
  color: var(--accent-ink);
}

.markdown-editing {
  margin-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid var(--accent);
  border-radius: 6px;
}

/* this shoudl go else where */

.boxNote {
  margin-top: 10px;
  padding-top: 0;
}
