.boxTopBar {
  width: 100%;
  min-height: 1em;
}

.topBarTitle {
  width: 40%;
  
  /* float: left; */
}

.box-top-bar--title-text {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px;
  /* padding-left: 12px; */
  /* padding-right: 12px; */
  /* border-radius: 0.25em; */
  border-bottom: rgb(223, 223, 223) solid 2px;
}

.box-top-bar--title-text:focus {
  display: inline;
}

.box-top-bar--title-text {
  /* background-color: rgb(230, 230, 230); */
}

.inactive .box-top-bar--title-text {
  /* background-color: rgb(240, 240, 240); */
}


.box-top-bar-custom {
  position: absolute;
  top: 0;
  right: 10em;
  padding-right: 20px;
  border-right: 2px solid gray;
}

.box-top-bar-controls {
  position: absolute;
  right: 0;
  top: 0px;
  width: 10em;
  /* width: 7%; */
  /* margin-left: 80%; */
}

.box-top-bar--controls-item {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  width: 15%;
}

.box-top-bar--controls-item:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}


/* .box-top-bar--controls--imize {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 25%;
  margin-right: 10px;
}

.box-top-bar--controls--imize:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
} */

/* .box-top-bar--delete {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 25%;
  margin-right: 10px;
}

.box-top-bar--delete:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
} */

/* .box-top-bar--share {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 25%;
  margin-right: 10px;
}

.box-top-bar--share:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
} */

/* .box-top-bar--controls--settings {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 33%;
} */

.box-top-bar--controls--settings:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

/* .box-top-bar--controls--menu {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 25%;
  position: absolute;
  right: 0;
  border-radius: 5px;
  margin-right: 10px;
} */

/* .box-top-bar--controls--menu.menu-pressed-open {
  background-color: rgb(240, 240, 240);
}

.box-top-bar--controls--menu:hover {
  background-color: rgb(221, 221, 221);
} */

/* .box-top-bar--controls--remove {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 33%;
} */

/* .box-top-bar--controls--remove:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
} */

/* .imizeBox {
  color: grey;
  cursor: pointer;
}

.imizeBox:hover {

  color: black;
} */

.box-top-bar-controls .icon {
  color: black;
  font-size: 1em;
}


.mini-icon {
  cursor: pointer; /* "hand" cursor */
  font-size: 1em; 
}


.box-top-bar--menu {
  position: absolute;
  top: 40px;
  right: 5px;
  border-radius: 0.25rem;
  z-index: 777;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;

  -webkit-box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);
  -moz-box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);
  box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);
}

.box-top-bar--menu-item {
  font-size: 0.9em;
  /* font-weight: 300; */
  padding: 8px;
  padding-left: 1em;
  padding-right: 2em;
  cursor: pointer;
}

.box-top-bar--menu-item:hover {
  background-color: rgb(230, 230, 230);
}

.box-top-bar--menu-item--notif {
  color: white;
  font-size: 0.8em;
  text-align: center;
  font-weight: 500;

  position: absolute;
  right: -6em;
  margin: 20px;
  margin-top: -5px;
  margin-bottom: 0;
  
  padding: 5px;
  padding-left: 1em;
  padding-right: 2em;
  background-color: rgb(64, 147, 224);
  border-radius: 0.25rem;

  float:left;

  z-index: 9999;
}


.box-top-bar--menu-item--share-link {
  position: absolute;
  top: 0px;
  left: 45%;
  font-size: 1.1em;

  padding: 5px;
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 0.1rem;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);
  -moz-box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);
  box-shadow: 0px 0px 15px -1px rgba(102,102,102,0.5);

  /* background-color: gray; */
}