.boxTopBar {
  width: 100%;
  min-height: 1em;
}

.topBarTitle {
  width: 40%;
  
  /* float: left; */
}

.box-top-bar--title-text {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0.25em;
}

.box-top-bar--title-text:focus {
  display: inline;
}

.box-top-bar--title-text {
  background-color: rgb(230, 230, 230);
}

.inactive .box-top-bar--title-text {
  background-color: rgb(240, 240, 240);
}


.box-top-bar-custom {
  position: absolute;
  top: 0;
  right: 3em;
}

.box-top-bar-controls {
  position: absolute;
  right: 0;
  top: 0px;
  width: 4em;
  /* width: 7%; */
  /* margin-left: 80%; */
}

.box-top-bar--controls--imize {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 50%;
}

.box-top-bar--controls--imize:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

/* .box-top-bar--controls--settings {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 33%;
} */

.box-top-bar--controls--settings:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

.box-top-bar--controls--menu {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 50%;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

.box-top-bar--controls--menu.menu-pressed-open {
  background-color: rgb(240, 240, 240);
}

.box-top-bar--controls--menu:hover {
  background-color: rgb(221, 221, 221);
}

/* .box-top-bar--controls--remove {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 33%;
} */

/* .box-top-bar--controls--remove:hover {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
} */

/* .imizeBox {
  color: grey;
  cursor: pointer;
}

.imizeBox:hover {

  color: black;
} */

.box-top-bar-controls .icon {
  color: black;
  font-size: 1em;
}


.mini-icon {
  cursor: pointer; /* "hand" cursor */
  font-size: 1em; 
}


.box-top-bar--menu {
  position: absolute;
  top: 40px;
  right: 5px;
  border-radius: 3px;
  z-index: 777;
  background-color: white;
  border: 1px solid black;

  /* width: 150px; */
  /* height: 250px; */
  /* background-color: rgb(53, 133, 202); */
}

.box-top-bar--menu-item {
  margin: 2px;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.box-top-bar--menu-item:hover {
  background-color: rgb(230, 230, 230);
}