.create-box {
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 10px;
}

.create-box--container {
  display: inline-block;
}

/* .create-box--group {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #1976d2;
  border-radius: 2rem;
}

.create-box--group .plusBtn {
  padding: 15px;
  margin: 0;
  border-radius: 2rem;
}

.create-box--group .plusBtn:hover {
  background-color: #a0bddb;
  cursor: pointer;
} */

.plusBtn {
  display: inline-block;
  font-weight: 500;
  border-radius: 2rem;
}

.top-level--create-box {
  position: fixed;
  top: 180px;
  width: 65%;
}


.create-box-plus {
  position: fixed;
  top: 200px;
  left: 45vw;
  /* width: 10em; */
  /* height: 10em; */
  margin: auto;
  text-align: center;
  border-radius: 50%;
  /* border-radius: 2rem; */
  padding: 1em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  font-size: 2em;
  color: rgb(160, 160, 160);

  background-color: rgb(235, 235, 235);
}

.create-box-plus:hover {
  color:gray;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}