.create-box {
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  background-color: rgb(243, 243, 243);
  margin-bottom: 10px;
}

.create-box--container {
  display: inline-block;
}

.create-box--group {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #1976d2;
  border-radius: 2rem;
}

.create-box--group .plusBtn {
  padding: 15px;
  margin: 0;
  border-radius: 2rem;
}

.create-box--group .plusBtn:hover {
  background-color: #a0bddb;
  cursor: pointer;
}

.plusBtn {
  display: inline-block;
  font-weight: 500;
  border-radius: 2rem;
}

/*  */


.create-box-plus {
  width: 100%;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
}

.create-box-plus--button {
  margin: auto;
}

.create-box-plus--container {
  height: 100%;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;

  text-align: center;
  cursor: pointer;
  color: rgb(155, 155, 155)
}

.create-box-plus:hover .create-box-plus--container {
  background-color: rgb(212, 212, 212);
  color: black
}

.create-box-plus--container:hover {
  background-color: rgb(187, 187, 187);
}