.box .editorError {
  font-size: 0.9em;
  margin: 5px;
  color: var(--danger);
}

#editorSplitDropBtn {
  vertical-align: baseline;
  font-size: 2em;
  display: inline-block;
}

#editorEnter:hover {
  color: var(--accent);
}

#editorEnter:active {
  color: var(--accent-strong);
}
