/* @media (min-aspect-ratio: 1/1) { */
  #menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5em;
    height: 100%;
    background-color: #1976d2;
    color: white;
    text-align: center;
    /* padding-top: 1em; */
    /* padding-left: 5vw; */
    z-index: 999;
  }
/* } */

.dark #menu-bar {
  background-color: #1561ad;
}

.menu-bar--middle-part {
  position: absolute;
  width: 100%
}

.menu-bar--bottom-part {
  position: absolute;
  bottom: 30px;
  width: 100%
}

.tab {
  padding-bottom: 13px;
  border-radius: 5px;
  /* margin-bottom: 1em; */
}

.tab-hoverable:hover {
  background-color: #1561ad;
  cursor: pointer;
}

.tab:first-of-type {
  margin-top: 1em;
}

.currentTab::before {
  content: "";
  position: absolute;
  left: 0;
  margin-top: 0.6em;
  height: 3.7em;
  width: 3px;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1; 
}

.icon {
  /* min-width: 32px; */
  /* min-height: 32px; */
  color: white;
  margin: 15px;
  margin-bottom: 0px;
  cursor: pointer; /* "hand" cursor */
  font-size: 1.5em;
}

.iconLabel {
  font-size: 0.8em;
  /* margin-left: 11px; */
  margin-bottom: 0px;
}

.notebookIconWrapper {
  position: relative;
}

.lambdulusIcon {
  border: 2.5px solid white;
  padding: 4%;
  padding-left: 15%;
  padding-right: 15%;

  border-radius: 50%;
  font-size: 2em;
  font-family: Comfortaa;
  cursor: pointer;
}

.tab:hover > .lambdulusIcon {
  background-color: #1976d2;
}
